@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Maiden+Orange');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import "normalize.css";

* {
	box-sizing: border-box;
}

body {
	background: url(../subtle_stripes.png);
}

ul, ol{
  padding: 0;
  margin: 0;
	list-style: none;
}

img {
	width: 100%;
}


a{
  text-decoration: none;
}

.toggle-nav {
	display: none;
}

.contenedor-principal {
	background-color: rgb(2, 9, 20);
	padding: 15px;
	overflow: hidden;
}

.fas{
	margin-left: 15px;
	color: white;
}

.logo {
	float: left;
	font-family: 'Pacifico', cursive;
	color: white;
	margin: 5px;
	font-size: 45px;
}

.login-navbar {
	float: right;
	margin: 5px;
	font-size: 20px;
}

.login-navbar li {
	display: inline-block;
	font-family: 'Anton', sans-serif;
	margin-left: 20px;
	margin-top: 10px;
}

.login-navbar a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.main-nav{
	display: flex;
	justify-content: center;
	margin: 10px;
}

.main-nav a{
	text-decoration: none;
	color: black;
	font-family: 'Oswald', sans-serif;
}

.main-nav li{
	margin-left: 20px;
	margin-right: 20px;
}

.container{
  display: inline-block;
  background-color: rgb(2, 9, 20);
  border-radius: 0 0 30px 30px;
  position:absolute;
  right: 35%;
}

.container-home{
	margin: 0 auto;
	max-width: 1200px;
}

.banner{
  width: 100%;
  margin:auto;
}

.banner img {
  margin-top: 5px;
}

/* productos */

.contenedor-productos{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
	margin-bottom: 20px;
	max-width: 1200px;
}

.producto {
	width: 32%;
}

.foto-producto{
	margin-top: 30px;
	padding-bottom: 10px;
	border: 2.5px solid rgba(62, 54, 54, 0.26);
	background-color: #fff;
}

.producto .comprar {
  display: block;
  padding: 10px 15px;
  color:#fff;
	text-align: center;
  background: rgb(2, 9, 20);
	margin: auto;
	max-width: 150px;
	font-family: 'Anton', sans-serif;
}

.producto h4{
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

/* footer */

.main-footer a {
  display: block;
  text-transform: uppercase;
  color: #fff;
	font-family: 'Anton', sans-serif;
	padding: 15px 30px;
}

.container-footer{
  background-color: rgb(2, 9, 20);
  border-radius: 30px 30px 0 0;
	max-width: 1200px;
	margin: 20px auto 0;

}

.footer-flex {
  display: flex;
	justify-content: center;
}

.footer-flex li {

}

/* responsive */

@media (max-width:768px) {
	.container-home {
		margin: 0 15px;
	}

	.contenedor-principal{
		width: 100%
	}

	.contenedor-productos{
		margin: 0 auto;
	}

	.producto{
		width: 49%;
	}
}

@media (max-width: 550px) {
	.container-home{
		min-width: 370px;
	}

	.contenedor-principal{
		min-width: 370px;
	}

	.banner{
		display: none;
	}

	.toggle-nav {
		display: flex;
		background-color: #000;
		color: #FFF;
		border: none;
		width: 50px;
		height: 50px;
		border-radius: 100%;
		padding: 0;
		justify-content: center;
		align-items: center;
		position: fixed;
		right: 20px;
		bottom: 20px;
	}

	.toggle-nav .fas {
		margin: 0;
		font-size: 22px;
	}

	.main-nav {
		flex-direction: column;
		margin: 0;
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
	}

	.main-nav li {
		margin: 0;
	}

	.main-nav a {
		display: block;
		background-color: #000;
		color: #fff;
		padding: 15px;
		border-bottom: solid 1px rgba(255, 255, 255, 0.3);
	}

	.producto {
		width: 100%;
	}
	.main-footer a{
		padding: 5px 15px;
	}

	.container-footer{
		min-width: 370px;
	}

}
